.top-left-text {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  z-index: 9999;
  font-weight: bold;
  color: var(--color2);
  cursor: pointer;
}

.bottom-left-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  z-index: 9999;
  color: var(--color2);
  cursor: pointer;
}

.top-right-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: end;
  gap: 5px;
  z-index: 9999;
}

.top-right-menu ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top-right-menu button {
  cursor: pointer;
  background: none;
  color: var(--color2);
  border: none;
  font-size: 20px;
}

.top-right-menu button:disabled {
 color: (--color2);
 opacity: 0.4;
 cursor: default;
}


.bottom-right-links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 5px;
  font-size: 20px;
  z-index: 9999;
  color: var(--color2);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}