.top-left-text {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  z-index: 9999;
  font-weight: bold;
  color: var(--color2);
  cursor: pointer;
}

.bottom-left-text {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  z-index: 9999;
  color: var(--color2);
  cursor: pointer;
}

.top-right-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 5px;
  font-size: 20px;
  z-index: 9999;
  color: var(--color2);
  cursor: pointer;
}

.top-right-menu li {
  cursor: pointer;
}

.bottom-right-links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 5px;
  font-size: 20px;
  z-index: 9999;
  color: var(--color2);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}