@keyframes move-to-center-big {
  from {
    transform: translate(var(--init-x), var(--init-y));
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes move-to-origin-big {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(var(--init-x), var(--init-y));
  }
}

@keyframes move-to-center-small {
  from {
    transform: translate(var(--init-x), var(--init-y)) scale(1);
  }

  to {
    transform: translate(0, 0) scale(2.1);
  }
}

@keyframes move-to-origin-small {
  from {
    transform: translate(0, 0) scale(2.1);
  }

  to {
    transform: translate(var(--init-x), var(--init-y)) scale(1);
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}
