@keyframes move-to-center {
  from {
    transform: translate(var(--init-x), var(--init-y));
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes move-to-origin {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(var(--init-x), var(--init-y));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}